:root {
    --test: 25px;
    --secondTest: 50px;
}

body {
    border: 2px solid red;
    height: 200vh;
}
/* p{
    padding: 500px 10px;
} */
.container {
    display: flex;
    height: 50vh;
    width: 200vw;
    border: 2px solid black;
}

div {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    margin: 5px;
}

.class-1 {
    background-color: blue;
    border: 5px solid purple;
}

.class-2 {
    background-color: red;
    border: 5px solid orange;
}

.class-3 {
    border: 5px solid purple;
    background-color: blue;
}